@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.NutritionPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  font-family: 'Poppins', sans-serif;
}

.NutritionPage h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.NutritionPage {
  background: #f7fafc;
}
.NutritionPage .nutrition-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.white {
  color: white;
}
.NutritionPage .button {
  display: flex;
}
.NutritionPage .button button {
  flex: 1;
}
