.NutritionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.NutritionPage h2 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.NutritionPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.NutritionPage form label {
  margin-bottom: 10px;
}

.NutritionPage form input,
.NutritionPage form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.NutritionPage form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.nutritionData {
  margin-top: 30px;
}

.previousLogs {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.previousLogs p {
  margin-bottom: 10px;
}

.previousLogs hr {
  margin-top: 20px;
}
.imageContainer {
  display: flex;
  align-items: center;
}

.imageCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
