
.SleepPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-family: 'Poppins', sans-serif;
}

.SleepPage h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.SleepPage form {
  margin-bottom: 20px;
}

.SleepPage .sleepData {
  margin-top: 20px;
}

.SleepPage .sleepData h2 {
  margin-bottom: 10px;
}
