.SleepPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; /* Prevents content overflow */
}

.SleepPage .header {
  top: 20px;
}

.SleepPage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Fill the available height */
  overflow-y: auto; /* Enable vertical scrolling when needed */
}

.SleepPage .formContainer {
  margin-bottom: 20px;
}

.SleepPage .sleepData {
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
}
