@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  margin: 0px auto;
  max-width: 1310px;
  padding-top: 50px;
  padding-inline: 20px;
  height: 70px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar_logo img {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: inherit;
  margin-right: 50px;
}

.navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar__link {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  margin-right: 50px;
  opacity: 0.7;
  color: var(--chakra-colors-primary);
  font-weight: 600;
}

.navbar__links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar__auth {
  display: flex;
  gap: 20px;
}

.navbar__button {
  border: none;
  background-color: inherit;
  padding: 14px 24px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: #3a7ca5;
  text-decoration: none;
  border-radius: 10px; /* Adjust the value to control the roundness */
  border: 2px solid #3a7ca5;
  position: relative;
  overflow: hidden;
}

.navbar__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 1rem;
  background-color: #3a7ca5;
  opacity: 0;
  transition: all 0.3s ease;
}

.navbar__button:hover::before {
  width: 200%;
  height: 200%;
  opacity: 0.3;
}
